form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background-color: #fbceb1;
    border: 5px solid gray;
    border-radius: 5px;
    padding: 30px;
}
body {
    align-items: center;
    max-width: 1200px;
    padding: 0;
    margin: auto;
    color: #060606;
    font-size: 15px;
    background-image: url("/static/img/соты.jpg");
}
.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
nav {
    background-color: #ffb92e;
    height: 70px;
    border-radius: 10px;
    margin: 5px
}
a {
    color: black;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
a:active {
   color: orange;
}
header {
    height: 100px;
}
.fixed-cont {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    background-color: #fbceb1 ;
 }
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section {
    background-color: white;
    margin: 20px auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: black;
    padding: 20px;

}
section.scrollmenu {
    justify-content: center;
}
section.scrollmenu a {
  display: inline-block;
  color: black;
  text-decoration: none;
  border: 1px solid #fcad0f;
  border-radius: 10px;
  padding: 7px;
  margin: 10px;
}
section.scrollmenu a:hover {
  background-color: #fcad0f;
}
.dropdown-menu {
  padding: 20px;
  margin: -15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.carousel-inner img {
    height: 500px;
    width: 500px;
    margin: auto;
}
.carousel-indicators button {
    margin-right: 5px;
}
.carousel-item div {
    color: black;
}
.icon {
  border-radius: 50%;
  border: 10px solid #ffc859;
  margin: 15px;
  width: 200px;
  height: 200px;
}
mark {
   background-color: #ffc859;
}
.orange-text {
    color: #fcad0f;
}
i {
  text-decoration: overline underline #fcad0f solid 1px
}
.dop {
  max-width: 50%;
  margin: 10px;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hexagon{
  width: 140px;
  height: 140px;
  border: 60px solid #fcad0f;
}
.hexagon_zero{
  width: 0;
  height: 0;
}
.hexagon_triangle_up{
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}
.hexagon_triangle_up_large{
  border-left-width: 92px;
  border-right-width: 92px;
}
.hexagon_triangle_down{
  border-bottom-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

.hexagon_triangle_down_large{
  border-left-width: 92px;
  border-right-width: 92px;
}
.inside{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 100px;
  background-color: #ffc859;
}
.hexa{
  float: left;
  margin: 7px;
}
.row{
  overflow: hidden;
}
.left_padding{
  padding-left: 100px;
}
.top_margin{
  margin-top: -55px;
}
.activities a {
  background-color: white;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  color: black;
  text-decoration: none;
  border: 3px solid #fcad0f;
  border-radius: 10px;
  padding: 7px;
}
.activities a:hover {
    text-decoration: underline;
}
.lines {
  text-decoration: overline underline #fcad0f solid 1px;
}
.line {
  text-decoration: underline #fcad0f solid 2px;
}
.ovline {
  text-decoration: overline #fcad0f solid 2px;
}
.logo {
  background-color: white;
  border: 9px solid white;
  border-radius: 30px;
}
.cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headiv {
  background-color: #ffebc28a;
}
b {
  color: #fcad0f;
}
.sota {
  max-width: 20%;
  margin: 20px;
}