{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">

<section>
    <h1 class="headiv cent shadow p-3 mb-5 bg-body-tertiary rounded">Академический рисунок</h1>
    <div>
        <h5>Занятия для ребят от 8 до 16 лет!</h5>
        <p><mark>понедельник</mark> и <mark>среда</mark></p>
        <p>с 19.10 до 20.10 часов</p>
        <br>
        <h6 class="lines">Стоимость занятий:</h6>
        <li>Одно занятие 600 рублей</li>
        <li>Абонемент (4 занятия в месяц) – 2200 руб</li>
        <li>Абонемент (8 занятий в месяц) - 3800 руб</li>
        <br>
        <b>Педагог Ирина Пономарева.</b>
        <p>Образование:</p>
        <p>2001-2007 гг. Санкт-Петербургский государственный академический институт живописи, скульптуры и архитектуры им. И. Е. Репина. Факультет Живописи.</p>
        <p class="lines">Дипломы:</p>
        <li>Диплом победителя грандов Санкт-Петербурга для студентов, аспирантов 2005. АСП №505548</li>
        <li>Благодарность от Русского Музея Победителю конкурса «Летний этюд»</li>
        <li>Победитель конкурса "Летний этюд" в номинации "образ Летнего сада" Санкт-Петербург</li>
        <li>Участник более 20-ти выставок разного уровня</li>
        <br>
        <p><b>Академический рисунок</b> – это изучение реального мира предметов, а также построение человеческого тела по
           существующим классическим канонам.</p>
        <p>Основные материалы для работы: бумага, простые карандаши, ластик. Иногда
           применяют сангину, уголь, сепию.
        <p><b>Главная задача академического рисования:</b> точное копирование и изучение конструктивных
            особенностей объектов, не забывая про свет и тень (светотень) на изображаемых моделях.</p>
        <p>Первые уроки посвящены знакомству с простыми геометрическими формами: шаром, кубом, цилиндром, призмой, конусом.
          Если понять конструкцию и распределение света на этих предметах, то в дальнейшем не составит труда разобрать
          более сложный объект, а далее и строение человека.</p>
    </div>
</section>


{% endblock %}