{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <h1>Празднование дня рождения</h1>
    <div>
        <li>Услуга предоставляется в выходные и праздничные дни.</li>
        <li>1 час аренды помещения - 1500 рублей.</li>
        <li>Вы также можете пользоваться кухней!</li>
        <li>Украшение помещения (шарики, надписи, таблички на столах и на кабинетах) –от 1500 до 3000 рублей.</li>
        <li>Сладкий стол (кексы, печенья с надписями, соки, чай) - цена от 500 рублей на человека.</li>
        <li>Профессиональные артисты - от 3500 руб / 1 час (1 артист).</li>
    </div>
</section>


{% endblock %}