{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <h1 class="headiv cent shadow p-3 mb-5 bg-body-tertiary rounded">Празднование дня рождения</h1>
    <div>
        <li>Услуга предоставляется в <span class="line">выходные и праздничные дни.</span></li>
        <li>1 час аренды помещения - 1500 рублей.</li>
        <li>Вы также можете пользоваться кухней!</li>
        <li><span class="line">Украшение помещения</span> (шарики, надписи, таблички на столах и на кабинетах) –от 1500 до 3000 рублей.</li>
        <li><span class="line">Сладкий стол</span> (кексы, печенья с надписями, соки, чай) - цена от 500 рублей на человека.</li>
        <li><span class="line">Профессиональные артисты</span> - от 3500 руб / 1 час (1 артист).</li>
    </div>
    <div class="cent">
        <img class="dop" src="/static/img/dop/birth.jpg">
    </div>
</section>


{% endblock %}