{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <div>
        <h1>Дополнительные занятия</h1>
        <br>
        <li><a href="/Танцы">Танцевальная студия для детей от 2 до 7 лет</a></li>
        <li><a href="/ИЗО">ИЗО студия для детей от 4-х лет</a></li>
        <li><a href="/Академический_рисунок">Академический рисунок</a></li>
        <li><a href="/Дошколята">Дошколята - подготовка к школе для детей от 5 лет</a></li>
        <li><a href="/Тхэквондо">Тхэквондо для детей от 4-х лет</a></li>
        <li><a href="/Программирование">Программирование Scratch Junior для детей от 2-х лет</a></li>
        <li><a href="/Шахматы">Шахматы для детей от 4-х лет</a></li>
        <li><a href="/Робототехника">Робототехника для детей от 4-х лет</a></li>
        <li><a href="/Логопед">Логопед-дефектолог</a></li>
        <li><a href="/День_рождения">А также в "Пчёлках" можно организовать весёлый день рождения для вашего ребёнка</a></li>
    </div>

</section>

{% endblock %}