{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <div class="activities">
        <h1 class="headiv cent shadow p-3 mb-5 bg-body-tertiary rounded">Дополнительные занятия</h1>
        <br>
        <div class="row">
            <div class="hexa">
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_up hexagon_triangle_up_large"></div>
                <div class="inside"><a href="/Танцы">Танцевальная студия</a></div>
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_down hexagon_triangle_down_large"></div>
            </div>
            <div class="hexa">
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_up hexagon_triangle_up_large"></div>
                <div class="inside"><a href="/ИЗО">ИЗО студия</a></div>
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_down hexagon_triangle_down_large"></div>
            </div>
            <div class="hexa">
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_up hexagon_triangle_up_large"></div>
                <div class="inside"><a href="/Академический_рисунок">Академический рисунок</a></div>
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_down hexagon_triangle_down_large"></div>
            </div>
            <div class="hexa">
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_up hexagon_triangle_up_large"></div>
                <div class="inside"><a href="/Дошколята">Дошколята</a></div>
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_down hexagon_triangle_down_large"></div>
            </div>
            <div class="hexa">
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_up hexagon_triangle_up_large"></div>
                <div class="inside"><a href="/Тхэквондо">Тхэквондо</a></div>
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_down hexagon_triangle_down_large"></div>
            </div>
        </div>
        <div class="row left_padding top_margin">
            <div class="hexa">
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_up hexagon_triangle_up_large"></div>
                <div class="inside"><a href="/Программирование">Программирование Scratch Junior</a></div>
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_down hexagon_triangle_down_large"></div>
            </div>
            <div class="hexa">
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_up hexagon_triangle_up_large"></div>
                <div class="inside"><a href="/Шахматы">Шахматы</a></div>
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_down hexagon_triangle_down_large"></div>
            </div>
            <div class="hexa">
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_up hexagon_triangle_up_large"></div>
                <div class="inside"><a href="/Робототехника">Робототехника</a></div>
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_down hexagon_triangle_down_large"></div>
            </div>
            <div class="hexa">
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_up hexagon_triangle_up_large"></div>
                <div class="inside"><a href="/Логопед">Логопед-дефектолог</a></div>
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_down hexagon_triangle_down_large"></div>
            </div>
            <div class="hexa">
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_up hexagon_triangle_up_large"></div>
                <div class="inside"><a href="/День_рождения">День рождения</a></div>
                <div class="hexagon hexagon_colors hexagon_zero hexagon_triangle_down hexagon_triangle_down_large"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}