{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <h1 class="headiv cent shadow p-3 mb-5 bg-body-tertiary rounded">Танцевальная студия</h1>
    <div>
        <h5>Приглашаем ребят от 3-х до 7 лет!</h5>
        <p>Занятия по <mark>средам</mark> и <mark>пятницам</mark></p>
        <br>
        <p class="line">группа с 3х до 5 лет с 17.10 до 17.55</p>
        <p class="line">группа с 5 до 7 лет с 18.00 до 18.45</p>
        <br>
        <p>Наш педагог <b>Клементьева София Ивановна</b> - действующий танцор, имеет танцевальный опыт более 10 лет
          (хореография, классический танец, народный танец, контемпорари, jazz funk), а так же стретчинг.
          Великолепно ладит с детьми и может «расшевелить» самого стеснительного малыша!</p>
        <br>
        <h6 class="lines">Стоимость занятий:</h6>
        <li>Первое пробное занятие бесплатно!</li>
        <li>Разовое занятие 600 рублей</li>
        <li>Абонемент 4 занятия (1 раз в неделю) 2200 рублей</li>
        <li>Абонемент 8 занятий (2 раза в неделю) 3800 рублей</li>
        <br>
        <p>Танцевальные занятия включают в себя разминку, ритмопластику, упражнения на координацию, силовые упражнения, растяжку, танец, подвижные игры, импровизацию.</p>
        <p class="line">В занятия входят элементы многих танцевальных направлений, начиная от классики и заканчивая современными танцами.</p>
    </div>
    <div class="cent">
        <img class="dop" src="/static/img/dop/dance.jpg">
    </div>
</section>


{% endblock %}