{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <h1 class="headiv cent shadow p-3 mb-5 bg-body-tertiary rounded">Дошколята</h1>
    <div>
        <h5>Приглашаем ребят от 5 лет!</h5>
        <p>Занятия по <mark>вторникам</mark> и <mark>четвергам</mark></p>
        <br>
        <p>группа с 5 до 6 лет с 17:00 до 18:00</p>
        <p>группа с 6 до 7 лет с 18:10 до 19:10</p>
        <br>
        <p>Наш педагог <b>Авраменко Елена Сергеевна</b>. Квалификация - учитель начальных классов, педагог- психолог.</p>
        <p>Опыт работы с детьми ОВЗ 15 лет.</p>
        <p>Педагог - психолог и специалист дошкольной педагогики с 12 летним стажем, воспитатель высшей категории, призёр городского профессионального конкурса "Воспитатель года".</p>
        <br>
        <p><b>Цель программы "Дошколята"</b> – успешная адаптация детей дошкольного возраста к новым образовательным условиям и создание условий комфортного перехода с одной образовательной ступени на другую.</p>
        <br>
        <h6 class="lines">Стоимость занятий:</h6>
        <li>Разовое занятие 600 рублей</li>
        <li>Абонемент 4 занятия (1 раз в неделю) 2200 рублей</li>
        <li>Абонемент 8 занятий (2 раза в неделю) 3800 рублей</li>
        <br>
        <h6 class="lines">На занятиях мы:</h6>
        <li>осваиваиваем навыки письма, чтения, счёта</li>
        <li>развиваем логическое мышление, память, внимание, воображение</li>
        <li>формируем позитивный настрой и желание получать знания</li>
        <li>создаём благоприятный психологический климат для последующей комфортной адаптации к школе</li>
    </div>
    <div class="cent">
        <img class="dop" src="/static/img/dop/doshkol.jpg">
    </div>
</section>


{% endblock %}