{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">

<section>
    <h1 class="headiv cent shadow p-3 mb-5 bg-body-tertiary rounded">ИЗО студия</h1>
    <div>
        <h5>Приглашаем ребят от 4х лет!</h5>
        <p>Занятия по <mark>понедельникам</mark> и <mark>средам</mark></p>
        <p>С 18:00 до 19:00 часов</p>
        <br>
        <p>Наш педагог <b>Ирина Пономарева</b>. Ирина закончила факультет живописи в Санкт-Петербургском государственном академическом институте живописи, скульптуры и архитектуры им. И. Е. Репина. Имеет огромное количество различных наград и является участником более 15-ти выставок разного уровня.
        Ну а самое главное, Ирина прекрасно ладит с детьми!</p>
        <br>
        <h6 class="lines">Стоимость занятий:</h6>
        <li>Первое пробное занятие бесплатно!</li>
        <li>Разовое занятие 600 рублей</li>
        <li>Абонемент 4 занятия (1 раз в неделю) 2200 рублей</li>
        <li>Абонемент 8 занятий (2 раза в неделю) 3800 рублей</li>
        <br>
        <p>Изобразительная деятельность очень хорошо развивает воображение, фантазию, воспитывает чувство гармонии, цвета и пропорций, помогает ребёнку выразить своё эмоциональное отношение к миру.</p>
        <p>Наши занятия помогут поддержать интерес ваших детей к творчеству!</p>
        <i>"Каждый ребенок — художник. Трудность в том, чтобы остаться художником, выйдя из детского возраста" (Пабло Пикассо)</i>
    </div>
    <div class="cent">
        <img class="dop" src="/static/img/dop/draw.jpg">
    </div>
</section>


{% endblock %}