{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">

<section>
    <h1 class="headiv cent shadow p-3 mb-5 bg-body-tertiary rounded">Наши сотрудники</h1>
    <div>
        <b class="ovline cent">Владелец:</b>
        <p class="cent">Олеся Филиппова</p>
        <span class="cent">
            <img class="sota" src="/static/img/dop/sota1.png">
            <img class="icon" src="/static/img/employee/employee1.jpg">
            <img class="sota" src="/static/img/dop/sota1.png">
        </span>
        <br>
        <b class="ovline cent">Директор:</b>
        <p class="cent">Анна Герасимова</p>
        <span class="cent">
            <img class="sota" src="/static/img/dop/sota1.png">
            <img class="icon" src="/static/img/employee/employee2.jpg">
            <img class="sota" src="/static/img/dop/sota1.png">
        </span>
    </div>
</section>


{% endblock %}