{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <div>
        <h1>Детский сад полного дня</h1>
        <h4>для вашего ребёнка от 1,5 до 5 лет</h4>
    </div>
    <br>
    <div>
        <h6>Наши преимущества:</h6>
        <li>Огороженная детская площадка</li>
        <li>Собственный повар</li>
        <li>Маленькие группы</li>
        <li>Доступные цены</li>
        <li>Интересные занятия</li>
        <br>
        <ol>
            <li>Младшая группа полного дня:</li>
            <p><b>Возраст</b> – с 1,5 до 3-х лет<p>

            <li>Старшая группа полного дня:</li>
            <p><b>Возраст</b> – с 3-х до 5-ти лет<p>
        </ol>
            <br>
            <p><b>Время пребывания</b> – с 08.00 – 19.00<p>
            <p><b>Кол-во детей</b> – 12 человек<p>
            <p><b>Питание</b> – 5-ти разовое (завтрак, 2-й завтрак, обед, полдник, ужин)<p>
            <p><b>Занятия</b> – в соответствии с расписанием<p>
            <p><b>Стоимость</b> – 24900 руб/мес. Без дополнительных взносов!<p>
    </div>
</section>

{% endblock %}