{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <div class="headiv shadow p-3 mb-5 bg-body-tertiary rounded">
        <h1 class="cent">Детский сад полного дня</h1>
        <h4 class="cent">для вашего ребёнка от 1,5 до 5 лет</h4>
    </div>
    <div>
        <h6 class="line">Наши преимущества:</h6>
        <li>Огороженная детская площадка</li>
        <li>Собственный повар</li>
        <li>Маленькие группы</li>
        <li>Доступные цены</li>
        <li>Интересные занятия</li>
        <br>
        <ol>
            <li><h6><mark>Младшая группа полного дня:</mark></h6></li>
            <p><span class="line">Возраст</span> – с 1,5 до 3-х лет<p>

            <li><h6><mark>Старшая группа полного дня:</mark></h6></li>
            <p><span class="line">Возраст</span> – с 3-х до 5-ти лет<p>
        </ol>
            <br>
            <p><span class="line">Время пребывания</span> – с 08.00 – 19.00<p>
            <p><span class="line">Кол-во детей</span> – 12 человек<p>
            <p><span class="line">Питание</span> – 5-ти разовое (завтрак, 2-й завтрак, обед, полдник, ужин)<p>
            <p><span class="line">Занятия</span> – в соответствии с расписанием<p>
            <p><span class="line">Стоимость</span> – 24900 руб/мес. Без дополнительных взносов!<p>
    </div>
</section>

{% endblock %}