{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <h1>Логопед-дефектолог</h1>
    <div>
        <p>Занятия по <b>вторникам</b> и <b>четвергам</b></p>
        <br>
        <p>Ведет индивидуальный прием Швецова Евгения Юрьевна. У Евгении Юрьевны стаж работы более 20 лет!</p>
        <p>Образование: ФГБОУ « РГПУ им. А.И.Герцена квалификация учитель-логопед по специальности: Логопедия.</p>
        <br>
        <h6>Основные направления работы:</h6>
        <li>Коррекция нарушений звукопроизношения</li>
        <li>Комплексное развитие речевых навыков</li>
        <li>Обучение восприятию различных звуков речи (а неправильное их восприятие часто и является причиной неправильного произношения отдельных звуков)</li>
        <li>Работа над умением образовывать новые слова, правильным употреблением окончаний слов, над умением правильно высказываться.</li>
        <li>"Растормаживание" речи у детей, которые не заговорили после 3-х лет</li>
        <br>
        <p>Первичная консультация:</p>
        <p>40 минут, стоимость 1300 руб.</p>
        <p>Занятие:</p>
        <p>45 минут, стоимость 1300 руб.</p>

    </div>
    <img class="dop" src="/static/img/dop/logoped.jpg">
</section>


{% endblock %}