{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <div class="headiv shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="cent">
            <span><img class="icon" src="/static/img/иконка.jpg"></span>
            <h1>"Пчёлки" Детский сад и Семейный Клуб</h1>
        </div>
    </div>
    <br>
    <div>
        <li>Принимаем деток от 1.5 лет</li>
        <li>Малочисленные группы</li>
        <li>Огороженная детская площадка</li>
        <li>Качественное питание</li>
    </div>
    <hr color="orange" width="80%" align="center">
    <h6 class="cent">Невский район, ул. Антонова-Овсеенко 5 корп.1, Санкт-Петербург</h6>
    <div class="cent map">
        <img class="sota" src="/static/img/dop/sota1.png">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A15dce0464a2926cff9f2e664260b215741948b5105455238f815e6dfb50b803e&amp;width=500&amp;height=368&amp;lang=ru_RU&amp;scroll=true"></script>
        <img class="sota" src="/static/img/dop/sota1.png">
    </div>
</section>

{% endblock %}