{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <div class="headiv shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="cent">
            <span><img class="icon" src="/static/img/иконка.jpg"></span>
            <h1 class="line">"Пчёлки" Детский сад и Семейный Клуб</h1>
        </div>
        <h6 class="cent">Невский район, ул. Антонова-Овсеенко 5 корп.1, Санкт-Петербург</h6>
    </div>
    <br>
    <li>Принимаем деток от 1.5 лет</li>
    <li>Малочисленные группы</li>
    <li>Огороженная детская площадка</li>
    <li>Качественное питание</li>
</section>

{% endblock %}