{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">

<section>
    <div class="headiv shadow p-3 mb-5 bg-body-tertiary rounded">
        <h1 class="cent">Мастерилка</h1>
        <h5 class="cent">Семейный клуб "Пчелки" приглашает ребят от 4 до 7 лет в творческую мастерскую “Мастерилка”!</h5>
    </div>
    <div>
        <p>Вести занятия будет педагог дополнительного образования <b>Оксана Александровна.</b> Занятия проводятся в рамках
            мастер классов: одно занятие-одна готовая работа.</p>
        <p>Продолжительность <mark>1 час.</mark> Занятие комплексное с обязательной пальчиковой гимнастикой и физкультминуткой в
            середине работы для полноценного развития.</p>
        <p><span class="line">Работа кружка направлена на развитие</span> творческой личности, креативного мышления, воображения, путем изготовления
            творческих работ в различных техниках с использованием большого разнообразия материалов.</p>
        <p>Благодаря занятиям детки развивают свой эстетический вкус, культуру от восприятия прекрасного. Они получают опыт
            совместной труда в коллективе, учатся взаимовыручке и получают радость от создания своей авторской работы.</p>
        <p><span class="line">Детки научатся</span> изготавливать поделки из картона, цветной бумаги, ниток, пластилина, природного материала,
            пластилина, круп и макарон, гуаши и акварели.</p>
        <p>Все работы выполняются <span class="line">в смешанных техниках</span> с использованием традиционных и нетрадиционных приёмов аппликации,
            рисунка, лепки, папье-маше и другие.</p>
        <br class="line">
        <mark>В нашей “Мастерилке” царит атмосфера творчества, веселья и приключений.</mark>
        <p>Педагог поощеряет самостоятельность детей и поддерживает позицию ребёнка <span class="line">“Я сам!”.</span> Каждая работа индивидуальна и имеет свою изюминку.</p>
        <p>Каждое занятие это не просто занятие, а целая <span class="line">“страна умелых ручек”</span>, где каждый может проявить свои таланты!</p>
        <br>
        <h6 class="lines">Стоимость:</h6>
        <li>пробное занятие -БЕСПЛАТНО!</li>
        <li>разовое занятие - 600 рублей</li>
        <li>абонемент на 4 занятия - 2200 рублей</li>
    </div>
    <div class="cent">
        <img class="dop" src="/static/img/dop/masteril.jpg">
    </div>
</section>


{% endblock %}