{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">

<section>
    <h1>Мастерилка</h1>
    <div>
        <h5>Семейный клуб "Пчелки" приглашает ребят от 4 до 7 лет в творческую мастерскую “Мастерилка”!</h5>
        <br>
        <p>Вести занятия будет педагог дополнительного образования Оксана Александровна. Занятия проводятся в рамках
            мастер классов: одно занятие-одна готовая работа.</p>
        <p>Продолжительность 1 час. Занятие комплексное с обязательной пальчиковой гимнастикой и физкультминуткой в
            середине работы для полноценного развития.</p>
        <p>Работа кружка направлена на развитие творческой личности, креативного мышления, воображения, путем изготовления
            творческих работ в различных техниках с использованием большого разнообразия материалов.</p>
        <p>Благодаря занятиям детки развивают свой эстетический вкус, культуру от восприятия прекрасного. Они получают опыт
            совместной труда в коллективе, учатся взаимовыручке и получают радость от создания своей авторской работы.</p>
        <p>Детки научатся изготавливать поделки из картона, цветной бумаги, ниток, пластилина, природного материала,
            пластилина, круп и макарон, гуаши и акварели.</p>
        <p>Все работы выполняются в смешанных техниках с использованием традиционных и нетрадиционных приёмов аппликации,
            рисунка, лепки, папье-маше и другие.</p>
        <p>В нашей “Мастерилке” царит атмосфера творчества, веселья и приключений.</p>
        <p>Педагог поощеряет самостоятельность детей и поддерживает позицию ребёнка “Я сам!”. Каждая работа индивидуальна и имеет свою изюминку.</p>
        <p>Каждое занятие это не просто занятие, а целая “страна умелых ручек”, где каждый может проявить свои таланты!</p>
        <br>
        <h6>Стоимость:</h6>
        <li>пробное занятие -БЕСПЛАТНО!</li>
        <li>разовое занятие - 600 рублей</li>
        <li>абонемент на 4 занятия - 2200 рублей</li>
    </div>
</section>


{% endblock %}