{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <h1 class="headiv cent shadow p-3 mb-5 bg-body-tertiary rounded">Робототехника</h1>
    <div>
        <h5>Курс на базе Lego WeDo 2.0 для ребят от 4х лет!</h5>
        <p class="line">Пятница с 18:00 до 19:00 часов.</p>
        <br>
        <p><mark>Конструктор Lego WeDo 2.0.</mark> - это образовательный набор для создания роботов от Lego Education,
            который предназначен для изучения программирования, конструирования и электроники. Он состоит из трех частей:</p>
        <ol>
            <li>Контейнер для сортировки деталей</li>
            <li>Разноцветные и прозрачные детали для сборки — прототипы деталей для конструирования реальных механизмов</li>
            <li>Электронные компоненты: процессор для программирования, мотор, датчики движения и наклона</li>
        </ol>
        <br>
        <p>Ребенок собирает какой-либо предмет по инструкции и подключает его к компьютеру, чтобы настроить механизмы и заставить их выполнять действия.</p>
        <p>Например, дети могут собрать: робота-наблюдателя, крокодила, вертолет, конвейер, трактор, гоночную машину, грузовик и т.д.
            Это неполный список возможностей по сборке. Преподаватель постоянно пополняют коллекцию новыми инструкциями, а дети
            в свою очередь не ограничиваются заданиями и реализуют собственные идеи.</p>
        <p class="line">WeDo 2.0. оснащен всеми необходимыми компонентами для изучения основ инженерии и IT.</p>
        <mark>Приходите! Будем изучать точные науки через игру!</mark>
        <br>
        <br>
        <h6 class="lines">Стоимость занятий:</h6>
        <li>Разовое занятие 1100 рублей</li>
    </div>
    <div class="cent">
        <img class="dop" src="/static/img/dop/roboto.jpg">
    </div>
</section>


{% endblock %}