{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <h1 class="headiv cent shadow p-3 mb-5 bg-body-tertiary rounded">Правила посещения</h1>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/rules/rule1.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block">
                    <h5>№1</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/rules/rule2.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block">
                    <h5>№2</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/rules/rule3.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block">
                    <h5>№3</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/rules/rule4.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block">
                    <h5>№4</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/rules/rule5.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block">
                    <h5>№5</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/rules/rule6.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block">
                    <h5>№6</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/rules/rule7.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block">
                    <h5>№7</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/rules/rule8.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block">
                    <h5>№8</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/rules/rule9.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block">
                    <h5>№9</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/rules/rule10.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block">
                    <h5>№10</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
    </div>
</section>


{% endblock %}