{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <h1 class="headiv cent shadow p-3 mb-5 bg-body-tertiary rounded">Программирование Scratch Junior</h1>
    <div>
        <h5>Приглашаем ребят от 5 лет!</h5>
        <mark>Пятница с 19.00 до 20.30 часов.</mark>
        <br>
        <p><b>Scratch Junior</b> подходит для самых юных учеников от 5 лет. Это детский язык программирования, похожий на конструктор Lego.
            Программы собираются из разноцветных «кирпичиков» (блоков). Блоки соединяются слева направо, как слова.</p>
        <p>Ребёнок создаст игру, мультфильм, сказку или научится рисовать в графическом редакторе. Сможет придумывать
            свои сюжеты и воплощать их в программе. Познакомится с понятиями «алгоритм», «цикл», «функция», а также получит
            развитие навыков логики и мышления. Сможет проявлять себя в команде, с радостью бежать на занятия, чтобы общаться с
            друзьями. <span class="line">Научится работе в программе Scratch Junior и базовым навыкам в работе с ПК.</span></p>
        <br>
        <h6 class="lines">Стоимость:</h6>
        <li>1 занятие 1100 рублей</li>
        <li>4 занятия 4000 рублей</li>
    </div>
    <div class="cent">
        <img class="dop" src="/static/img/dop/program.jpg">
    </div>
</section>


{% endblock %}