{% extends "club.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <h1>Программирование Scratch Junior</h1>
    <div>
        <h5>Приглашаем ребят от 5 лет!</h5>
        <p>Пятница с 19.00 до 20.30 часов.</p>
        <br>
        <p>Scratch Junior подходит для самых юных учеников от 5 лет. Это детский язык программирования, похожий на конструктор Lego.
            Программы собираются из разноцветных «кирпичиков» (блоков). Блоки соединяются слева направо, как слова.</p>
        <p>Ребёнок создаст игру, мультфильм, сказку или научится рисовать в графическом редакторе. Сможет придумывать
            свои сюжеты и воплощать их в программе. Познакомится с понятиями «алгоритм», «цикл», «функция», а также получит
            развитие навыков логики и мышления. Сможет проявлять себя в команде, с радостью бежать на занятия, чтобы общаться с
            друзьями. Научится работе в программе Scratch Junior и базовым навыкам в работе с ПК.</p>
        <br>
        <h6>Стоимость:</h6>
        <li>1 занятие 1100 рублей</li>
        <li>4 занятия 4000 рублей</li>
    </div>
</section>


{% endblock %}