{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <div>
        <h1>Детский сад короткого дня</h1>
        <h4>для вашего ребёнка от 1,5 до 5 лет</h4>
    </div>
    <br>
    <div>
        <h6>Наши преимущества:</h6>
        <li>Огороженная детская площадка</li>
        <li>Собственный повар</li>
        <li>Маленькие группы</li>
        <li>Доступные цены</li>
        <li>Интересные занятия</li>
        <br>
        <h6>Есть 3 варианта посещения группы короткого дня:</h6>
        <ol>
            <li>Младшая группа неполного дня с 08.00-13.00</li>
            <p><b>Возраст</b> – с 1,5 до 3-х лет<p>
            <p><b>Кол-во детей</b> – 6 человек<p>
            <p><b>Питание</b> – 3-х разовое (завтрак, 2-й завтрак, обед)<p>
            <p><b>Занятия</b> – в соответствии с расписанием<p>
            <p><b>Стоимость</b> – 14900 руб/мес. Дополнительных взносов нет.<p>

            <li>Младшая группа неполного дня с 09.00-13.00</li>
            <p><b>Возраст</b> – с 1,5 до 3-х лет<p>
            <p><b>Кол-во детей</b> – 6 человек<p>
            <p><b>Питание</b> – 2-х разовое (2-й завтрак, обед)<p>
            <p><b>Занятия</b> – в соответствии с расписанием<p>
            <p><b>Стоимость</b> – 13900 руб/мес. Дополнительных взносов нет.<p>

            <li>Младшая группа неполного дня с 16.00-19.00</li>
            <p><b>Возраст</b> – с 1,5 до 3-х лет<p>
            <p><b>Питание</b> – 2-х разовое (полдник, ужин)<p>
            <p><b>Занятия</b> – в соответствии с расписанием<p>
            <p><b>Стоимость</b> – 9900 руб/мес. Дополнительных взносов нет.<p>
        </ol>
    </div>
</section>

{% endblock %}