{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<section>
    <div class="headiv shadow p-3 mb-5 bg-body-tertiary rounded">
        <h1 class="cent">Детский сад короткого дня</h1>
        <h4 class="cent">для вашего ребёнка от 1,5 до 5 лет</h4>
    </div>
    <div>
        <h6 class="lines">Наши преимущества:</h6>
        <li>Огороженная детская площадка</li>
        <li>Собственный повар</li>
        <li>Маленькие группы</li>
        <li>Доступные цены</li>
        <li>Интересные занятия</li>
        <br>
        <h6 class="ovline">Есть 3 варианта посещения группы короткого дня:</h6>
        <ol>
            <li><h6><mark>Младшая группа неполного дня с 08.00-13.00:</mark></h6></li>
            <p><span class="line">Возраст</span> – с 1,5 до 3-х лет<p>
            <p><span class="line">Кол-во детей</span> – 6 человек<p>
            <p><span class="line">Питание</span> – 3-х разовое (завтрак, 2-й завтрак, обед)<p>
            <p><span class="line">Занятия</span> – в соответствии с расписанием<p>
            <p><span class="line">Стоимость</span> – 14900 руб/мес. Дополнительных взносов нет.<p>

            <li><h6><mark>Младшая группа неполного дня с 09.00-13.00:</mark></h6></li>
            <p><span class="line">Возраст</span> – с 1,5 до 3-х лет<p>
            <p><span class="line">Кол-во детей</span> – 6 человек<p>
            <p><span class="line">Питание</span> – 2-х разовое (2-й завтрак, обед)<p>
            <p><span class="line">Занятия</span> – в соответствии с расписанием<p>
            <p><span class="line">Стоимость</span> – 13900 руб/мес. Дополнительных взносов нет.<p>

            <li><h6><mark>Младшая группа неполного дня с 16.00-19.00:</mark></h6></li>
            <p><span class="line">Возраст</span> – с 1,5 до 3-х лет<p>
            <p><span class="line">Питание</span> – 2-х разовое (полдник, ужин)<p>
            <p><span class="line">Занятия</span> – в соответствии с расписанием<p>
            <p><span class="line">Стоимость</span> – 9900 руб/мес. Дополнительных взносов нет.<p>
        </ol>
    </div>
</section>

{% endblock %}